body {
    background: linear-gradient(-45deg, #49a6ed, #7a4bff, #6600cc, #921bb6, #b300ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 90vh;
    }

      @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .nav-link {
      padding: 10px 50px 10px 50px;
      margin: 10px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 70px;
      color: white;
    }
    .nav-link:hover {
      background-color: white;
      color: black;
    }
    .home-button {
        margin: 10px;
        padding: 13px 50px;
        background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
        border: none;
        border-radius: 70px;
        transition: 0.5s;
        text-decoration: none;
        color: white;
    }
    .home-button:hover {
        box-shadow: 5px 6px 20px rebeccapurple;
        background-image: linear-gradient(144deg,#00DDEB, #5B42F3 50%, #AF40FF);
        transform: scale(1.05);
        opacity: 1.10;
    }
    .home-button:active {
        transform: scale(0.90);
    }
    .home-buttons {
        background-color:black;
        color: white;
        padding:20px;
    }
    .logo-text {
      font-size: 100px;
    }

    /*Login and register*/
            .card {
            border: none;
            border-top: 5px solid rgb(176,106,252);
            background: #212042;
            color: #57557A;
            width: 500px;
            margin: 50px auto;
        }
        .submit-button {
            padding: 13px 50px;
            background-color: rebeccapurple;
            border: none;
            border-radius: 70px;
            transition: 0.3s;
        }
        .submit-button:hover {
            background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
            box-shadow: 5px 6px 20px rebeccapurple;
            transform: scale(1.05);
        }