{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8"><h1 class="text-white">Bienvenue dans le tableau de bord, {{ user.username }}!</h1>
        <p class="text-white">Une application simple pour gérer vôtre inventaire, avec un système de connexion sécurisé.</p>
        </div>
        
        <div class="col-4">
            <button class="buttons small">Exporter les données &nbsp; <i class="bi bi-file-earmark-arrow-up-fill"></i></button>&nbsp;
            <button class="buttons small">Créer un rapport &nbsp; <i class="bi bi-file-bar-graph-fill"></i></button>
        </div>
    </div>
        <main class="container py-5">
          <div class="row">
              <div class="col-md-4">
                  <div class="card table-custom">
                      <img src="/static/product-test.png" width="350" class="card-img-top" alt="Image produit">
                      <div class="card-body text-white">
                          <h5 class="card-title">Gérer les produits</h5>
                          <p class="card-text">Ajouter, modifier et supprimer des produits aisément.</p>
                          <a href="/product_list" class="btn btn-primary w-100 buttons">Voir les produits</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card table-custom">
                      <img src="/static/customer-test.png" class="card-img-top" alt="Image gestion utilisateur">
                      <div class="card-body text-white">
                          <h5 class="card-title">Gérer les clients</h5>
                          <p class="card-text">Regarder la liste de clients enregistrés dans le système.</p>
                          <a href="/customer_list" class="btn btn-primary w-100 buttons">Voir les clients</a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="card table-custom">
                      <img src="/static/order-test.png" class="card-img-top" alt="Image statistiques">
                      <div class="card-body text-white">
                          <h5 class="card-title">Gérér les commandes</h5>
                          <p class="card-text">Visualisez le suivi des commandes des clients et de leurs produits.</p>
                          <a href="/order_list" class="btn btn-primary w-100 buttons">Voir les commandes</a>
                      </div>
                  </div>
              </div>
          </div>
      </main>
</div>
{% endblock %}