{% extends 'base.html' %}

{% block title %}Orders{% endblock %}

{% block content %}

<script>

function toggleDeleteOrderButton() {
        const checkboxes = document.querySelectorAll('input[name="order_ids"]:checked');
        const deleteBtn = document.getElementById('deleteBtn');
        
        if (checkboxes.length > 0) {
            deleteBtn.style.display = 'inline-block';
        } else {
            deleteBtn.style.display = 'none';
        }
    }

    function selectAllCheckboxesOrders() {
        var selectAllCheckbox = document.getElementById('selectAll');
        var checkboxes = document.getElementsByName('order_ids');

        if (selectAllCheckbox.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = true;
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
        }
    }
</script>

<h2 class="text-white">Commandes</h2>
<br>

<button type="button" class="buttons" data-bs-toggle="modal" data-bs-target="#addOrderModal">
    Ajouter une nouvelle commande
</button>

<table id="datatable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID de la commande</th>
            <th>Client</th>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteOrder(`{{ order.id }}`)">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Add Order Modal -->
<div class="modal fade" id="addOrderModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter une nouvelle commande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('add_order') }}" method="POST">
                    <div class="mb-3">
                        <label for="customer_id" class="form-label">ID du client</label>
                        <input type="text" class="form-control" name="customer_id" placeholder="Entrez l'ID du client">
                    </div>
                    <div class="mb-3">
                        <label for="product_id" class="form-label">ID du produit</label>
                        <input type="text" class="form-control" name="product_id" placeholder="Entrez l'ID du produit">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantité</label>
                        <input type="text" class="form-control" name="quantity" placeholder="Entrez la quantité">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Ajouter la commande</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<a href="/dashboard" class="buttons">Retourner au tableau de bord</a>

<script>
    /*
    function deleteOrder(orderId) {
        if (confirm('Are you sure you want to delete this order?')) {
            fetch(`/delete_order/${orderId}`, {
                method: 'POST',
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Error deleting order');
                }
            });
        }
    }
    */
</script>

{% endblock %}