<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 500px;
        }
    </style>
</head>
<body>
    <form action="{{ url_for('addrec')}}" method="POST">
        <label for="name">Product Name:</label>
        <input type="text" name="product_name" id=""><br>
        <label for="type">Product Type:</label>
        <input type="text" name="product_type" id=""><br>
        <label for="category">Product Category</label>
        <input type="text" name="product_category" id=""><br>
        <label for="brand"> Product Brand:</label>
        <input type="text" name="product_brand" id=""><br>
        <label for="price"> Product Price:</label>
        <input type="number" name="product_price" id=""><br>
        <label for="stock">Stock:</label>
        <input type="number" name="product_stock" id=""><br>
        <label for="description">Description:</label>
        <textarea name="product_desc" id=""></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>